<!DOCTYPE html>
<html lang="<%- config.language %>">
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/topbar') %>
        <% if (is_home()) { %> 
            <%- partial('_partial/titlepanel') %>
        <% } %>
        <main  <% if (is_home()) { %>class="index"<% } %>>
            <%- body %>
            <footer class="site-footer">
                <% if (theme.show_copyright) { %>
                    <p>Copyright <%- config.author %> 2016-<%- new Date().getFullYear() %></p>
                <% } %>
            </footer>
        </main>
        <%- partial('_partial/bottombar') %>
        <%- js('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', 'js/site.js') %>
    </body>

</html>