<% if (index) { %>
    <article class="index">
<% } else { %>
    <article>
<% } %>
    <div class="icon">
        <a href="<%- config.root %><%- item.path %>">
            <% if (item.icon) { %>
                <img src="<%- item.icon %>">
            <% } else { %>
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <% } %>
        </a>
    </div>
    <!-- WORK IN PROGRESS<nav class="page-nav">
        <%- link_to("#comments", "<i class='fa fa-comments-o' aria-hidden='true'></i> Comments") %>
    </nav>-->
    <header>
        <time>
                <%- item.date.toDate().toDateString() %>
        </time>
        <h1 class="article-title"><%- item.title %></h1>
        <div class="artile-sub-header">
        </div>
    </header>
    <div class="entry">
        <% if (index && item.excerpt) { %>
            <%- item.excerpt %>
        <% } else { %>
        <%- item.content %>
        <% } %>
    </div>
    <footer>
        <% if (index && item.excerpt) { %>
            <a class="button" href="<%- config.root %><%- item.path %>">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        <% } %>
        <% if (is_post()) { %>
            <hr />
            <%- partial('_partial/post/tags') %>
            <%- partial('_partial/post/categories') %>
            <% if (page.prev) { %>
                <%- link_to(page.prev.path, '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous Post', {class: "button pull-left", title: "Previous Post"}) %>
            <% } %>
            <% if (page.next) { %>
                <%- link_to(page.next.path, 'Next Post <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>', {class: "button pull-right", title: "Next Post"}) %>
            <% } %>
        <% } %>
    </footer>
</article>
<% if (!index) { %>
    <section id="comments">
        <%- partial('_partial/post/comments', {fbcommentlink: item.fbcommentlink }) %>
    </section>
<% } %>