<head>
    <meta charset="utf-8">
    <% 
        var title = [];
        if (page.title) title.push(page.title);
        if (page.tag) title.push(page.tag);
        if (page.category) title.push(page.category);
        if (page.archive) {
            title.push("Blog")
            // Add archive stuff...
        }
        if (page.current > 1) title.push("Page " + page.current);
        if (config.title) title.push(config.title);
    %>
    <title><%= title.join(" | ") %></title>
    <% if (page.description) {%>
        <meta name="description" content="<%= page.description %>">
        <meta property="og:description" content="<%= page.description %>">
    <% } else if (page.excerpt) { %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
        <meta property="og:description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (config.description) { %>
        <meta name="description" content="<%= config.description %>">
        <meta property="og:description" content="<%= config.description %>">
    <% } %>
    <% if (config.author) { %><meta name="author" content="<%- config.author %>"><% } %>
    <% if (page.keywords) { %><meta name="keywords" content="<%- page.keyword %>"><% } %>
    <% if (page.coverimage) { %>
        <meta property="og:image" content="<%- page.coverimage %>">
    <% } else if (config.coverimage) { %>
        <meta property="og:image" content="<%- config.url + '/' + config.coverimage %>">
    <% } %>
    <% if (is_post()) {%> 
        <meta property="og:type" content="article">
    <% } else { %>
        <meta property="og:type" content="website">
    <% } %>
    <meta property="og:url" content="<%- url.replace(/index\.html$/, '') %>">
    <meta property="og:site_name" content="<%- config.title %>">
    <% if (theme.comments.facebook.app_id) { %><meta property="fb:app_id" content="<%- theme.comments.facebook.app_id %>"><% } %>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="<%- url_for('/favicon.png') %>">
    <%- css('css/style.css', 'https://fonts.googleapis.com/css?family=Open+Sans:400,600|Nunito+Sans:700') %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>