<% 
    var title = [];
    if (page.title) title.push(page.title);
    if (page.tag) title.push(page.tag);
    if (page.category) title.push(page.category);
    if (page.archive) {
        title.push("Blog")
        // Add archive stuff...
    }
    if (page.current > 1) title.push("Page " + page.current);
    if (config.title) title.push(config.title);

    var description = strip_html(page.description || page.excerpt || config.description).replace(/^\s*/, '').replace(/\s*$/, '')
    
    //OpenGraph Specific
    var type = is_post() ? "article" : "website";
    var coverimage = config.url + '/' + (page.coverimage || config.coverimage);
%>

<head>
    <meta charset="utf-8">
    <title><%= title.join(" | ") %></title>
    <% if (description) { %><meta name="description" content="<%= description %>"><% } %>
    <% if (config.author) { %><meta name="author" content="<%- config.author %>"><% } %>
    <% if (page.keywords) { %><meta name="keywords" content="<%- page.keyword %>"><% } %>

    <%- partial('_partial/head/opengraph', {fb_app_id: theme.comments.facebook.app_id, type: type, title: title, description: description, url: url, image: coverimage }) %>
    <%- partial('_partial/head/twitter', { type: type }) %>
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="<%- url_for('/favicon.png') %>">
    <%- css('css/style.css', 'https://fonts.googleapis.com/css?family=Open+Sans:400,600|Nunito+Sans:700') %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>